.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
}

.headings {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.brush-selection {
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.paint {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.palette {
  display: flex;
  margin-left: -30px;
}

.brush {
  
  
}

.icon {
  width: 30px;
  height: 30px;
}

.current-brush, .palette-color {
  width: 30px;
  height: 30px;
  border: 1px solid black;
}

.canvas {
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(10, 10%);
  width: 300px;
  height: 300px;
  border: 1px solid black;
}

.canvas div {
  width: 30px;
  height: 30px;
}

.square {
  transition: 0.5s;
}

.color-1 {
  background-color: #AED8E5;
}

.color-2 {
  background-color: #FFA501;
}

.color-3 {
  background-color: #90EE90;
}

.color-4 {
  background-color: #FEFF01;
}

.color-5 {
  background-color: #FFFFFF;
}
